body{
    background-color: rgb(207, 206, 140);
  }
  h1{
    color: aliceblue;
    text-align: center;
  }
  header{
    width:100%;
    background-color: antiquewhite;
  }

.Logo{
  color: rgb(255, 0, 149);
  text-align: center;
  font-size: 1.4em;
}
 nav{
  color:rgb(255, 0, 149); 
  text-align: center;
  font-size: 1.4em;
}
.banner{
  width: 100%;
}
.container{
  background-color: azure;
  width: 80%;
  margin: auto;
}

footer{
  background-color: rgb(255, 0, 149);
  color: beige;
  font-size: 1.3em;
  text-align: center;
  
}