html{
   scroll-behavior: smooth;
}

body{
    background-color: #595959;
  } 

h1{
   color: #000;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 3%;
   line-height: 1.5;
   font-family: 'Ysabeau', sem serifa;
   font-size: 200%;
   text-shadow: 2px 2px 4px #000000;
} 

h2{
   color: #000;
   text-shadow: 2px 2px 4px #000000;
   text-align: center;
   padding-top: 1.5%;
   padding-top: 1.5%;
   line-height: 1,5;
   margin: 2%;
   font-family: 'Ysabeau', sem serifa;
   font-size: 150%;
} 
   
h3{
   color: #534f4f;
   text-align: center;
   padding-top: 3%;
   padding-top: 3%;
   line-height: 3; 
   margin: 2%;
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

h4{
   color: #705959;
   text-shadow: 1.8px 1.6px #8d7283;
   text-align: center;
   padding-top: 2%;
   padding-top: 2%;
   line-height: 2; 
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

p{
   color: #705959;
   padding-top: 1%;
   padding-bottom: 0.5%;
   line-height: 1.5;
   font-size: 1.2em;
   text-align : justificar;
   text-indent: 25px;
   font-family: 'Merriweather', serif;
}

header{
    width:100%;
    background-color: #505958;
    padding: 2%;
    position: relative;
}
.fixo{
   position: fixed;
   top: 0;
   left:0 ;
   right: 0;
   z-index: 2;
}
.headercor{
    background-color: #BF281B;
    text-align: center;
    font-size: 1.4em;
  
}

.listadomeio li{
   color: #615454;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   line-height: 1.5;
   font-size: 1.2em;
   text-align: center;
   font-family: 'Merriweather', serif;
   list-style-image: url(../img/star.png);
   padding-right: 4.5%;
}

.lado{
   color: #705959;
   line-height: 1.5;
   font-size: 1.2em;
   text-align: center;
   font-family: 'Merriweather', serif;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   list-style-image: url(../img/star.png);
}

.imgmeio{
   width: 250px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.imgdireita{
   float: right;
}

.imgesquerda{
   float: left;
}

.imgtam{
   width: 25%;
   margin-left: 2%;
}
.imgtam1{
   width: 85%;
   margin-left: 2%;
}

.imgtam2{
   width: 15%;
   margin-left: 4%;  
}
.imgtamlivro{
   width: 20%;
   margin-left: 2%; 
}

.centerp{
   text-align: center;  
}
.Logo{
   color: #95A6A3;
   text-align: center;
   font-size: 1.4em;
}
.logo-topo{
   width: 7%;
}

 nav{
   color: #000;
   text-align: center;
   font-size: 1.4em;
}

.banner{
   width: 10px;
}

.container{
   background-color: #A6A6A6;
   width: 80%;
   margin: auto;
   padding-left: 2%;
   padding-right: 2%;
}

.corcontainer{
   background-color: #D9751E;
}

section{
   background-color: #c4c3c3;
   padding-left: 2%;
   padding-right: 2%;
}

footer{
   background-color: #262626;
   color:#705959;
   font-size: 1.3em;
   text-align: center;
} 

a:link {
   text-decoration: none;
   color: #FF69B4;
  }

a:visited {
   text-decoration: none;
   color: #FFB6C1;
}
    
a:hover {
   text-decoration: none;
   color: #FA8072;
}
    
a:active {
  text-decoration: none;
  color: #C71585;
  }

.linha{
   display: flex;
   flex-flow: row wrap;
   text-align: center;
  }
 
.col-6{
   width: 50%;
  }

.centro{
   display: flex;
   flex-flow: row wrap;
   text-align: center;
}

.legenda{
   width: 250px;
   display: block;
   margin-left: auto;
   margin-right: auto; 
   color: #595959;
}

.cor{
   color: #705959; 
}

.coricones{
   background-color: #262626; 
}

 table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
   border: 1px solid #daa188;
   text-align: left;
   padding: 8px;
 }
 
 tr:nth-child(even) {
   background-color: #c57b3f;
 }

.tituloinformativo{
   color: #592A0E;
}

.corsection{
   background-color: #F2B47E;
}

.titulo{
   color:#BF281B;
}
img{
   width: 100%;
}
/*criado 30/08*/
@media screen and (max-width:650px) {
   .bannertam{
     margin-top: 12% 
   }
   header{
      flex-direction: row;   
   }
   .Logo{
   top: 0%;
   }
   .itens-menu ul li {
      margin-left: 1%;
   }
   
   .itens-menu{
    position: absolute;  
    right: 15%;
    top: 30%;
    width: 70%;
   font-size: 10%;
   }
   }
   @media screen and (min-width:651px) {
      .bannertam{
         padding-left: 0%;
        padding-right: 0%;
        margin-top: 12%;
      }
      header{
         flex-direction: row;   
      }
      .Logo{
       padding-top: 0.5%;  
       padding-bottom: 0.5%;
       text-align: left;
       width: 120%;
      }
      .itens-menu ul li {
         display: inline;
         margin-left: 1%;
      }
      
      .itens-menu{
       position: absolute;  
       right: 15%;
       top: 30%;
       width: 70%;
       font-size: 120%;
      }
      }